* {
  margin: 0;
  padding: 0;
}

h1{
  color: red;
}

.ui {
  position: absolute;
  top: 66px;
  left: 18%;
  width: 80px;
  height: 80px;
  border-width: 0em;
  background: url(assets/images/map.png);
}

#box{
  display:flex;
  flex-direction:row;
  width: 100%;
  height: 100%;
}

#left {
  width: 15%;
  height: 100%;
  float: left;
}

#center {
  width: 50%;
  height: 100%;
  float: left;
  background: rgb(255, 255, 255);
}

#right {
  width: 35%;
  height: 100%;
  float: right;
}